<!--<h2>Hello {{name.value}}</h2>-->
<h2>Hello {{userDetails.value.firstName}}</h2>
<h2>{{myObservable | async }}</h2>

<form [formGroup]="userDetails" (ngSubmit)="onSubmit()">
  <label for="email">Email
    <input #email id="email" formControlName="email">
    <div *ngIf="controlHasError(email.id)">
      <p *ngIf="userDetails.get('email')?.hasError('required')">This is required</p>
      <p *ngIf="userDetails.get('email')?.hasError('email')">Not a valid email
        address</p>
    </div>
  </label>
  <br>
  <input id="firstName" formControlName="firstName">
  <br>
  <input formControlName="lastName">
  <br>
  <button id="" type="submit">Submit</button>
</form>
<!--  <input [formControl]="name">-->

<!--<button (click)="onClick()">Foo</button>-->
